<a href="https://colab.research.google.com/github/MJanbandhu/SQL/blob/main/sql_connector.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pymysql
import mysql.connector

ModuleNotFoundError: ignored

In [4]:
connection= mysql.connector.connect(host="18.136.157.135", user="dm_user_sql", password="37z49REb$nK@nlpV!vJ")

NameError: ignored

In [5]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd